@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    @apply max-w-6xl mx-auto
}


.button{
    @apply bg-orange-600 rounded-full border-none hover:bg-orange-500
}


.home {
     background-image: url("./assets/Bg.png");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     
}


.card:hover .ingrediant {

    transform:translateY(0)
    
}