@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    @apply max-w-6xl mx-auto
}

.home {
     background-image: url("./assets/Bg.png");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     
}

